.main {
  background-color: #fff;
  padding: 10px 20px;
}

.wrapCard {
  display: flex;

  .card {
    padding: 20px 10px;
    border-radius: 10px;
    margin-bottom: 15px;

    .cardDetails {
      display: flex;
      justify-content: space-between;
    }

    .icon {
      font-size: 2rem;
    }
  }
}

.charts {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;

  .chartLine {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

.otherCharts {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 0;

  .charBar,
  .charPie {
    width: 100%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;

    h3 {
      font-size: 2rem;
      font-weight: 700;
    }
  }
}

@media (max-width: 739px) {
  .main {
    padding: 10px 4px;

    .title {
      margin-left: 45px;

      h2 {
        font-size: 2.5rem;
      }
    }
  }
}

@media (min-width: 740px) and (max-width: 1023px) {
  .main {
    .title {
      margin-left: 50px;
    }
  }
}