
.product-page {
    margin-left: 270px;
    padding: 20px;
    background-color: #f9f9f9;
    min-height: 100vh;
  }
  
  .product-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px; 
    
    .header-actions {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 15px; 
      width: 100%;
      box-sizing: border-box; 
    }
    .export-button {
        background-color:  #cdd1ff;
        color: #091057;
        border: none;
        margin-left: 10px;
        margin-right: 10px;
    }
    .export-button:hover {
      border-color:white;
      background-color:#091057;
      color:  white;
    }

    .add-product-button {
      border-color: white;
      background-color: #091057;
      color: white;
      margin-left: 10px;
    }
    .add-product-button:hover {
      background-color: #cdd1ff;
      color: #091057;
    }
  }

  .filter-section {
    display: flex;
    flex-wrap: wrap;
    gap: 16px; 
    align-items: center;
    margin-top: 20px;
    justify-content: space-between;
    padding: 10px 0;
    
    .filter-left {
      display: flex;
      gap: 10px;
    }
    
    .filter-right {
      display: flex;
      align-items: center;
      margin-right: 10px;
    }
    
    .filter-toggle-button {
        background-color: #091057;
        border-color: #091057;
        color: white;
        margin-left: 10px;
    }
    .filter-toggle-button:hover {
        background-color: #9fa6ef;
        color:#091057;
        font-weight: bold;
        border: none;
    }
    .filter-btn {
      margin-right: 2px;
    }
    .filter-btn:hover {
      border-color: #091057;
      color:  #091057;
     }
    .filter-btn.active {
        background-color:  #cdd1ff;
        border-color: #cdd1ff;
        color: #091057;
        font-weight: bold;
    }
  }
.form-order-content {
  display: flex;
  gap: 20px;
  .order-details {
    flex: 1;
  }
  .form-row {
    display: flex;
    align-items: center;
    gap: 16px;
  }
  
  .product-section {
    flex: 1;
    border-left: 1px solid  #cdd1ff;
    padding-left: 20px;
  }

.cancel-button {
  background-color: #cdd1ff;
  color:  #091057;
  border: none;
}

.create-button {
  background-color: #091057;
  color: white;
  border: none;
  align-items: center;
}
}