
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e3e6ff;

  .login-box {
    background: #ffffff; 
    padding: 32px; 
    border-radius: 8px; 
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px; 
  }
  

  h2 {
    text-align: center;
    font-size: 24px; 
    font-weight: bold;
    color: #333333; 
    margin-bottom: 24px;
  }
  

  .login-button {
    width: 100%; 
    background-color: #091057;
    color: #ffffff;
    font-size: 16px;
    border: none;
    height: 40px;
    border-radius: 4px;
    transition: all 0.3s ease; 
  }
  
  .login-button:hover {
    background-color: #40a9ff; 
    cursor: pointer;
  }
  

  .ant-input,
  .ant-input-password {
    border-radius: 4px; 
  }
  
  .ant-form-item-label > label {
    font-size: 14px;
    font-weight: 500;
    color: #333333;
  }
  
  .ant-checkbox-wrapper {
    display: flex;
    align-items: center;
    margin-top: 8px;
  }
}
  